/* Navbar styling */
.navbar {
    background-color: #3b9c97;
  }
  
  .nav-link {
    color: #fff;
  }
  
  .navbar-brand {
    color: #fff;
    font-weight: bold;
  }
  
  .nav-link:hover {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  body {
    background-image: url"{%  static 'images/pizza1.png' alt='pizza wallpaper' %}";
    background-size: cover;
  }